<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated Ernaehrungsplan -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.tu_bs.cs.isf.mbse.Ernaehrungsplan.presentation.ErnaehrungsplanModelWizardID"
            name="%_UI_ErnaehrungsplanModelWizard_label"
            class="de.tu_bs.cs.isf.mbse.Ernaehrungsplan.presentation.ErnaehrungsplanModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ErnaehrungsplanModelFile.gif">
         <description>%_UI_ErnaehrungsplanModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated Ernaehrungsplan -->
      <editor
            id="de.tu_bs.cs.isf.mbse.Ernaehrungsplan.presentation.ErnaehrungsplanEditorID"
            name="%_UI_ErnaehrungsplanEditor_label"
            icon="icons/full/obj16/ErnaehrungsplanModelFile.gif"
            extensions="ernaehrungsplan"
            class="de.tu_bs.cs.isf.mbse.Ernaehrungsplan.presentation.ErnaehrungsplanEditor"
            contributorClass="de.tu_bs.cs.isf.mbse.Ernaehrungsplan.presentation.ErnaehrungsplanActionBarContributor">
      </editor>
   </extension>

</plugin>
